@*@model IEnumerable<BankAdviser.WEB.Models.InquiryVM>*@
@model BankAdviser.WEB.Models.InquiryVM

@{
    ViewBag.Title = "Home";
}

<h3 class="header">ПОДБОР ДЕПОЗИТОВ</h3>

<form method="post" class="pb-md-5" action="@Url.Action("PutInquiry", "Home")">
    <input type="hidden" value="model.Id" name="Id" />

    <fieldset class="form-group pb-md-4">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">ВАЛЮТА</legend>
            <div class="col-10">
                <div class="custom-control custom-radio custom-control-inline col-auto">
                    <input class="custom-control-input" type="radio" id="currencyRadio1" name="Currency" value="UAH" checked>
                    <label class="custom-control-label" for="currencyRadio1">UAH</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-auto">
                    <input class="custom-control-input" type="radio" id="currencyRadio2" name="Currency" value="USD">
                    <label class="custom-control-label" for="currencyRadio2">USD</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-auto">
                    <input class="custom-control-input" type="radio" id="currencyRadio3" name="Currency" value="EUR">
                    <label class="custom-control-label" for="currencyRadio3">EUR</label>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group row pb-md-4">
        <label for="inputSum" class="col-2 col-form-label">СУММА</label>
        <div class="col-2">
            <input type="text" class="form-control" id="inputSum" name="Sum">
        </div>
    </div>

    <div class="form-group row pb-md-4">
        <label for="inputTermRange" class="col-2 col-form-label">СРОК</label>
        <div class="col-3">
            <input type="range" class="form-control" id="termRange" min="1" max="12" step="1" value="3">
        </div>
        <div class="col-1">
            <input type="text" class="form-control" id="termText" name="Term">
        </div>
        <label class="col-form-label">мес.</label>
    </div>

    <fieldset class="form-group pb-md-4">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">ПРОЦЕНТЫ</legend>
            <div class="col-10">
                <div class="custom-control custom-radio custom-control-inline col-auto">
                    <input class="custom-control-input" type="radio" id="radioEveryMonthInterests" name="InterestsPayout" value="EveryMonth">
                    <label class="custom-control-label" for="radioEveryMonthInterests">Каждый месяц</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-auto">
                    <input class="custom-control-input" type="radio" id="radioAtTheEndInterests" name="InterestsPayout" value="EndOfTerm" checked>
                    <label class="custom-control-label" for="radioAtTheEndInterests">В конце срока</label>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group pb-md-4">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">ДОПОЛНИТЕЛЬНО</legend>
            <div class="col-10">
                <div class="custom-control custom-checkbox custom-control-inline col-auto">
                    <input class="custom-control-input" type="checkbox" id="checkAddable" name="IsAddable" value="true">
                    <label class="custom-control-label" for="checkAddable">Пополнение</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline col-auto">
                    <input class="custom-control-input" type="checkbox" id="checkWithdrawable" name="IsWithdrawable" value="true">
                    <label class="custom-control-label" for="checkWithdrawable">Досрочное снятие</label>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group pb-md-4">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">ТИП БАНКОВ</legend>
            <div class="col-10">
                <div class="custom-control custom-checkbox custom-control-inline col-auto">
                    <input class="custom-control-input" type="checkbox" id="checkPrivate" name="NeedPrivateBanks" value="true" checked>
                    <label class="custom-control-label" for="checkPrivate">Частные</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline col-auto">
                    <input class="custom-control-input" type="checkbox" id="checkState" name="NeedStateBanks" value="true" checked>
                    <label class="custom-control-label" for="checkState">Государственные</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline col-auto">
                    <input class="custom-control-input" type="checkbox" id="checkForeign" name="NeedForeignBanks" value="true" checked>
                    <label class="custom-control-label" for="checkForeign">Иностранные</label>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group row pb-md-4">
        <label for="selectBankNum" class="col-form-label col-2">КОЛ-ВО БАНКОВ</label>
        <select class="custom-select col-1 ml-md-3" id="selectBankNum" name="BanksNum">
            <option selected>5</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
    </div>

    <div class="form-group row pt-md-3">
        <div class="col-2">
            <button type="submit" class="btn btn-outline-success w-100">ПОДОБРАТЬ</button>
        </div>
    </div>

</form>


@section scripts {
    <script type="text/javascript">
        var slider = document.getElementById("termRange");
        var output = document.getElementById("termText");
        output.value = slider.value;
        slider.oninput = function () {
            output.value = this.value;
        };
        output.oninput = function () {
            slider.value = this.value;
        }
    </script>
}


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestPayout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanksGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanksNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="border_bottom">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestPayout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BanksGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BanksNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.ActionLink("Request", "PutInquiry", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@