@model List<BankAdviser.WEB.Models.ReplyEntryVM>

@{
    ViewBag.Title = "Депозиты по запросу";
}

<h3 class="header">Депозиты по запросу:<span class="glyphicon glyphicon-asterisk"></span></h3>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Банк</th>
            <th scope="col">Депозит</th>
            <th scope="col">%</th>
            <th scope="col">*</th>
            <th scope="col">Доход</th>
            <th scope="col">Ссылка</th>
        </tr>
    </thead>

    <tbody>
        @{
            int count = 1;
            string rate = String.Empty;

            foreach (var item in Model)
            {
                rate = (item.DepositRate * 100).ToString() + "%";
                <tr>
                    <th scope="row">
                        @count.ToString()
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepositName)
                    </td>
                    <td>
                        @rate
                    </td>
                    <td data-toggle="popover" title="@Html.DisplayFor(modelItem => item.DepositBonusInfo)" data-content="Test">
                        <p><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetIncome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepositUrl)
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>

</table>


@section scripts {
    <script type="text/javascript">
        
    </script>
}